apiVersion: apps/v1
kind: Deployment
metadata:
  name: inference-test
  labels:
    app.kubernetes.io/name: "inference-test-deployment"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      volumes:
      - name: storage
        persistentVolumeClaim:
          claimName: cache-pvc
      imagePullSecrets:
        - name: {{ .Values.ngcImagePullSecretName }}
      containers:
      - name: inference
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        volumeMounts:
        - mountPath: /storage
          name: storage
        ports:
        - name: inference
          containerPort: {{ .Values.inferencePort }}
          protocol: TCP
